*.pyc
flask
redisSim
requirements.txt
webApp/node_modules
hil/arduino/build-uno
src/examples/notebooks/.ipynb_checkpoints/
cursoPython/.ipynb_checkpoints/
cursoPython/fractional/.ipynb_checkpoints/
cursoPython/fractional/companinon.sch~
tallerPython/.ipynb_checkpoints/
tallerPython/fractional/.ipynb_checkpoints/
tallerPython/image/.ipynb_checkpoints/
tallerPython/image/random_*
